@model IEnumerable<MyUniversity.ViewModels.EnrollmentDateGroup>

@{
    ViewBag.Title = "Student Body Statistics";
}

<h2>Student Body Statistics</h2>

<table>
    <tr>
        <th>Enrollment Date</th>
        <th>Students</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(i => item.EnrollmentDate)</td>
            <td>@item.studentCount</td>
        </tr>
    }
</table>

<p>About me:</p>
<a href="https://vk.com/evgeniy_mh">vk.com/evgeniy_mh</a>
